<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${fiction.getBName()}"></title>
    <link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css"/>
    <script src="https://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <script th:src="@{/static/js/noname.js}"></script>
</head>
<body th:with="clLength = ${chapterList.size() - 1}">
<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/" title="未名亭">未名亭</a>
        </div>
        <script>search();</script>
    </div>
</div>
<div class="nav">
    <ul>
        <li class="this"><a href="/" title="未名亭">首页</a></li>
        <li><a href="https://www.shuquge.com/category/1_1.html">玄幻</a></li>
        <li><a href="https://www.shuquge.com/category/2_1.html">武侠</a></li>
        <li><a href="https://www.shuquge.com/category/3_1.html">都市</a></li>
        <li><a href="https://www.shuquge.com/category/4_1.html">历史</a></li>
        <li><a href="https://www.shuquge.com/category/5_1.html">侦探</a></li>
        <li><a href="https://www.shuquge.com/category/6_1.html">网游</a></li>
        <li><a href="https://www.shuquge.com/category/7_1.html">科幻</a></li>
        <li><a href="https://www.shuquge.com/top.html">排行榜</a></li>
        <li><a href="https://www.shuquge.com/full/">全本</a></li>
        <li><a href="https://www.shuquge.com/modules/article/bookcase.php">书架</a></li>
    </ul>
</div>
<div class="clear"></div>
<div class="book">
    <div class="path">
        <div class="p">
            <a href="/">未名亭</a> &gt;
            <a href="#" th:text="${fiction.getBName()}">book name</a>

            <div style="float: right;">
                <a style="margin: 15px;padding: 5px;background-color: #459DF5;color:#ffffff;" href="Javascript:void(0);"
                   onclick="javascript:$.ajax({cache:false,url:'/addbookcase/99001.php',success:function(data){if('-1'===data){alert('先登录再收藏！');}else{alert('加入书架成功！');}},error:function(){alert('加入书架成功！');}});">加入书架</a>
                <a style="margin: 15px;padding: 5px;background-color: #459DF5;color:#ffffff;" href="Javascript:void(0);"
                   onclick="javascript:$.ajax({cache:false,url:'/recommend/99001.php',success:function(data){alert('推荐本书成功！');}});">推荐本书</a>
            </div>

        </div>
    </div>
    <div class="info">
        <div class="cover">
            <img th:src="@{${fiction.getCover()}}" th:alt="${fiction.getBName()}" alt="book name"
                 src="/static/img/noname.png"/>
        </div>
        <h2 th:text="${fiction.getBName()}"></h2>
        <div class="small">
            <span th:text="'作者：' + ${fiction.getAuthor()}">作者：Author</span>
            <span th:text="'分类：' + ${fiction.getCat()}">分类：Tag</span>
            <span th:text="'状态：' + ${fiction.getState()}">状态：State</span>
            <span class="last"
                  th:text="'最后更新：' + ${chapterList.get(clLength).getUpdateTime()}">更新时间：1947-01-01 00:00:00</span>
            <span class="last">最新章节：<a
                    th:href="@{'/read/' + ${bId} + '/' + ${chapterList.get(clLength).getCId()}}"
                    th:text="${chapterList.get(clLength).getTitle()}">chapterTitle</a></span>
        </div>
        <div class="intro">
            <span>简介：</span><br/>
            <span th:utext="${fiction.getDesc()}"></span>
<!--            <span class="noshow" th:text="${fiction.getDesc().substring(37)}"> </span>-->
<!--            <span class="showall">展开&gt;&gt;</span> <br/>-->
            <br/>
            <span>信息：转载作品,章节由网友发布。</span>
        </div>
    </div>
</div>
<div class="listmain">
    <dl>
        <dt th:text="${fiction.getBName()} + '最新章节'"></dt>
        <dd th:each="index : ${#numbers.sequence(0,5)}">
            <a th:href="@{'/read/' + ${bId} + '/' + ${chapterList.get(clLength - index).getCId()}}"
               th:text="${chapterList.get(clLength - index).getTitle()}"
               th:title="${chapterList.get(clLength - index).getUpdateTime()}"></a>
        </dd>
        <dt th:text="${fiction.getBName()} + '正文'"></dt>
        <dd th:each="chapter : ${chapterList}">
            <a th:href="@{'/read/' + ${bId} + '/' + ${chapter.getCId()}}" th:text="${chapter.getTitle()}"
               th:title="${chapter.getUpdateTime()}"></a>
        </dd>
    </dl>
</div>
<div th:replace="~{templet :: footer}"></div>
</body>
</html>