
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <title>笔趣阁</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
<body>
    
<link rel="stylesheet" href="../static/css/style.css"/>
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

  <div class="header">
    <h1 class="logo"><a href="/">笔趣阁</a></h1>
    <!-- 搜索 -->
    <form action="/ar.php" class="search-form" id="form">
        <input class="input-text input-key" id="keyWord" name="keyWord" type="text" maxlength="30"
            placeholder="可搜书名和作者，请您少字也别输错字。" />
        <input type="button" class="btn-tosearch" value="搜索" title="搜索" onclick="check()"/>
    </form>
    
  </div>

  <ul class="nav">
    <li><a href="/">首页</a></li>
	<li><a href="">玄幻奇幻</a></li>
	<li><a href="">武侠仙侠</a></li>
	<li><a href="">都市言情</a></li>
	<li><a href="">历史军事</a></li>
	<li><a href="">科幻灵异</a></li>
	<li><a href="">网游竞技</a></li>
	<li><a href="">女生频道</a></li>
    <li><a href="">排行榜单</a></li>
    <li><a href="">收藏榜单</a></li>
    <li><a href="">完本小说</a></li>
    <li><a href="">永久书架</a></li>
    <li><a href="">阅读记录</a></li>
  </ul>
  <ul class="m-nav">
    <li><a href="">排行</a></li>
    <li><a href="">收藏</a></li>
    <li><a href="">完本</a></li>
    <li><a href="">阅读记录</a></li>
    <li><a href="">书架</a></li>
  </ul>

    <div class="container">
        <div class="row">
            
                <div class="layout layout-col2">            
                        <div class="item">
                            <div class="image">
                                <a href="/book/3648/">
                                    <img style="min-height:120px;" onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/70646.jpg"
                                        alt="逆天邪神" /></a>
                            </div>
                            <dl>
                                <dt><span>火星引力 </span><a href="/book/3648/">逆天邪神 </a></dt>
                                <dd><a href="/book/3648/" style="color: #555">掌天毒之珠，承邪神之血，修逆天之力，一代邪神，君临天下！【添加微信公众号：火星引力】【我们的YY频道：4…</a></dd>
                            </dl>
                        </div>
                    <div class="item">
                            <div class="image">
                                <a href="/book/3648/">
                                    <img style="min-height:120px;" onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/70646.jpg"
                                        alt="逆天邪神" /></a>
                            </div>
                            <dl>
                                <dt><span>火星引力 </span><a href="/book/3648/">逆天邪神 </a></dt>
                                <dd><a href="/book/3648/" style="color: #555">掌天毒之珠，承邪神之血，修逆天之力，一代邪神，君临天下！【添加微信公众号：火星引力】【我们的YY频道：4…</a></dd>
                            </dl>
                        </div>
                    <div class="item">
                            <div class="image">
                                <a href="/book/3648/">
                                    <img style="min-height:120px;" onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/70646.jpg"
                                        alt="逆天邪神" /></a>
                            </div>
                            <dl>
                                <dt><span>火星引力 </span><a href="/book/3648/">逆天邪神 </a></dt>
                                <dd><a href="/book/3648/" style="color: #555">掌天毒之珠，承邪神之血，修逆天之力，一代邪神，君临天下！【添加微信公众号：火星引力】【我们的YY频道：4…</a></dd>
                            </dl>
                        </div>
                    <div class="item">
                            <div class="image">
                                <a href="/book/3648/">
                                    <img style="min-height:120px;" onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/70646.jpg"
                                        alt="逆天邪神" /></a>
                            </div>
                            <dl>
                                <dt><span>火星引力 </span><a href="/book/3648/">逆天邪神 </a></dt>
                                <dd><a href="/book/3648/" style="color: #555">掌天毒之珠，承邪神之血，修逆天之力，一代邪神，君临天下！【添加微信公众号：火星引力】【我们的YY频道：4…</a></dd>
                            </dl>
                        </div>
                </div>
                
                <div class="layout layout-col1">
                    <h2 class="layout-tit">经典推荐</h2>
                    <ul class="txt-list txt-list-row3">
                        
                            <li>
								<span class="s1">[玄幻奇幻]</span>
                                <span class="s2"><a href="/book/9118/">乾坤剑神</a></span>
                                <span class="s5">尘山</span>
                            </li>
                            
                            <li>
								<span class="s1">[都市言情]</span>
                                <span class="s2"><a href="/book/252192/">叶君临李子柒</a></span>
                                <span class="s5">早酒晚茶</span>
                            </li>
                            
                            <li>
								<span class="s1">[玄幻奇幻]</span>
                                <span class="s2"><a href="/book/246884/">从斗罗开始打卡</a></span>
                                <span class="s5">夏竖琴</span>
                            </li>
                            
                            <li>
								<span class="s1">[都市言情]</span>
                                <span class="s2"><a href="/book/251011/">叶辰夏若雪</a></span>
                                <span class="s5">风会笑</span>
                            </li>
                            
                            <li>
								<span class="s1">[武侠仙侠]</span>
                                <span class="s2"><a href="/book/27946/">重生西游之天篷妖尊</a></span>
                                <span class="s5">拼搏的射手</span>
                            </li>
                            
                            <li>
								<span class="s1">[都市言情]</span>
                                <span class="s2"><a href="/book/251792/">医道狂尊</a></span>
                                <span class="s5">黑夜的瞳</span>
                            </li>
                            
                            <li>
								<span class="s1">[玄幻奇幻]</span>
                                <span class="s2"><a href="/book/14721/">万古神帝</a></span>
                                <span class="s5">飞天鱼</span>
                            </li>
                            
                            <li>
								<span class="s1">[玄幻奇幻]</span>
                                <span class="s2"><a href="/book/49218/">九转道经</a></span>
                                <span class="s5">天茗</span>
                            </li>
                            
                            <li>
								<span class="s1">[历史军事]</span>
                                <span class="s2"><a href="/book/78541/">重生之战神吕布</a></span>
                                <span class="s5">流浪的猴</span>
                            </li>
                            
                    </ul>
                </div>
                
        </div>
        
        <div class="row">
            <div class="layout">
                <div class="tp-box">
                    <h2>玄幻奇幻</h2>
                    
                                <div class="top">
                                    <div class="image">
                                        <a href="/book/267668/"><img src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/shishangzuikuanglaozu.jpg" onerror="src='/images/nopic.gif'" alt="史上最狂老祖" /></a>
                                    </div>
                                    <dl>
                                        <dt><a href="/book/267668/">史上最狂老祖</a></dt>
                                        <dd><a href="/book/267668/" style="color: #555">万年前，混世大魔王林天在人界成为无敌传说。万年后，林天修‘轮回弑天决’重回故里。曾经他创建的第一大宗已…</a></dd>
                                    </dl>
                                </div>
                                <ul>
                                
                                <li><a href="/book/11834/">绝世邪神</a>/纯情犀利哥</li>                               
                                
                                <li><a href="/book/267985/">陈枫燕清羽</a>/洛城东</li>                               
                                
                                <li><a href="/book/253229/">御魂者传奇</a>/沙之愚者</li>                               
                                
                                <li><a href="/book/267977/">武道至强</a>/陈枫燕清羽</li>                               
                                
                                <li><a href="/book/267954/">守墓五年</a>/陈枫燕清羽</li>                               
                                
                                <li><a href="/book/1270/">唐寅在异界</a>/六道</li>                               
                                
                                <li><a href="/book/42764/">逆剑狂神</a>/一剑清新</li>                               
                                
                                <li><a href="/book/604/">带着农场混异界</a>/明宇</li>                               
                                
                                <li><a href="/book/26945/">太古龙象诀</a>/旺仔老馒头</li>                               
                                
                                <li><a href="/book/267991/">仙魔同修</a>/叶小川云乞幽</li>                               
                                
                                <li><a href="/book/43317/">霸天武魂</a>/千里牧尘</li>                               
                                
                                <li><a href="/book/101310/">龙破九天诀</a>/柳枫</li>                               
                                
                    </ul>
                </div>
                <div class="tp-box">
                    <h2>武侠仙侠</h2>
                    
                                <div class="top">
                                    <div class="image">
                                        <a href="/book/921/"><img src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/xiushenwaichuan.jpg" onerror="src='/images/nopic.gif'" alt="修神外传" /></a>
                                    </div>
                                    <dl>
                                        <dt><a href="/book/921/">修神外传</a></dt>
                                        <dd><a href="/book/921/" style="color: #555">神图合，惊雷鸣，禁地动，仙府出！　　   仙道茫茫路何方？神迹隐,隐为何？　　   天道无情人有情，万般欲念…</a></dd>
                                    </dl>
                                </div>
                                <ul>
                                
                                <li><a href="/book/256217/">绝世魔医，神帝别追</a>/西点灵枭</li>                               
                                
                                <li><a href="/book/83647/">铁雪云烟</a>/庞钠文</li>                               
                                
                                <li><a href="/book/4862/">命之途</a>/莫若梦兮</li>                               
                                
                                <li><a href="/book/88/">修仙狂徒</a>/王小蛮</li>                               
                                
                                <li><a href="/book/208/">百炼成仙</a>/幻雨</li>                               
                                
                                <li><a href="/book/3508/">庶女狂后</a>/火炎儿</li>                               
                                
                                <li><a href="/book/11067/">狂神刑天</a>/妖的天空</li>                               
                                
                                <li><a href="/book/9120/">盖世仙尊</a>/王小蛮</li>                               
                                
                                <li><a href="/book/464/">少年医仙</a>/逐没</li>                               
                                
                                <li><a href="/book/43644/">超品小农民</a>/寞斜</li>                               
                                
                                <li><a href="/book/11654/">清宫熹妃传</a>/解语</li>                               
                                
                                <li><a href="/book/9876/">小夫小妻小仙人</a>/神龙吞恶虎</li>                               
                                
                    </ul>
                </div>
                <div class="tp-box">
                    <h2>都市言情</h2>
                    
                                <div class="top">
                                    <div class="image">
                                        <a href="/book/127238/"><img src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/xiaohuazhitieshengaoshou.jpg" onerror="src='/images/nopic.gif'" alt="校花之贴身高手" /></a>
                                    </div>
                                    <dl>
                                        <dt><a href="/book/127238/">校花之贴身高手</a></dt>
                                        <dd><a href="/book/127238/" style="color: #555">他，从小跟着异人修练逆天诀，进入最神秘的特种部队，成为一名令人闻风丧胆的恐怖杀手。一次失败，他提前退役…</a></dd>
                                    </dl>
                                </div>
                                <ul>
                                
                                <li><a href="/book/269693/">极品全能学生</a>/夏天叶清雪</li>                               
                                
                                <li><a href="/book/269516/">有钱就了不起吗</a>/夏天叶清雪</li>                               
                                
                                <li><a href="/book/266656/">夏天叶清雪</a>/花都大少</li>                               
                                
                                <li><a href="/book/266643/">极品全能高手</a>/夏天叶清雪</li>                               
                                
                                <li><a href="/book/625/">我的贴身校花</a>/带玉</li>                               
                                
                                <li><a href="/book/251562/">极品全能高手</a>/花都大少</li>                               
                                
                                <li><a href="/book/11813/">极品全能学生</a>/花都大少</li>                               
                                
                                <li><a href="/book/640/">捡个杀手做老婆</a>/花刺1913</li>                               
                                
                                <li><a href="/book/109257/">神级龙卫</a>/花幽山月</li>                               
                                
                                <li><a href="/book/669/">绝品邪少</a>/陨落星辰</li>                               
                                
                                <li><a href="/book/161/">校花的贴身高手</a>/鱼人二代</li>                               
                                
                                <li><a href="/book/41086/">超级无良学生</a>/十指炫舞</li>                               
                                
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="layout">
                <div class="tp-box">
                    <h2>历史军事</h2>
                    
                                <div class="top">
                                    <div class="image">
                                        <a href="/book/28903/"><img src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/longhuntezhongbing.jpg" onerror="src='/images/nopic.gif'" alt="龙魂特种兵" /></a>
                                    </div>
                                    <dl>
                                        <dt><a href="/book/28903/">龙魂特种兵</a></dt>
                                        <dd><a href="/book/28903/" style="color: #555">【巨燃狂暴超爽新书】　　兵王归来，美女入怀。　　带着仇恨，带着使命，八年后踏入都市，搅动风云，龙战天下…</a></dd>
                                    </dl>
                                </div>
                                <ul>
                                
                                <li><a href="/book/5104/">花豹突击队</a>/竹香书屋</li>                               
                                
                                <li><a href="/book/5078/">穿越到大秦的武器大亨</a>/大锅菜</li>                               
                                
                                <li><a href="/book/42729/">邪龙狂兵</a>/说梦煮酒</li>                               
                                
                                <li><a href="/book/3658/">神话版三国</a>/坟土荒草</li>                               
                                
                                <li><a href="/book/11555/">战场合同工</a>/勿亦行</li>                               
                                
                                <li><a href="/book/4513/">大清隐龙</a>/心净</li>                               
                                
                                <li><a href="/book/4511/">最强兵王</a>/丛林狼</li>                               
                                
                                <li><a href="/book/43308/">超神特种兵王</a>/容炎</li>                               
                                
                                <li><a href="/book/4437/">开艘航母去抗日</a>/且听沧海</li>                               
                                
                                <li><a href="/book/42762/">神级火爆兵王</a>/鬼舞人间</li>                               
                                
                                <li><a href="/book/42165/">特种兵之血色獠牙</a>/大火樱桃</li>                               
                                
                                <li><a href="/book/251351/">卧龙</a>/龙渊</li>                               
                                
                    </ul>
                </div>
                <div class="tp-box">
                    <h2>科幻灵异</h2>
                    
                                <div class="top">
                                    <div class="image">
                                        <a href="/book/13662/"><img src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/yuguizhechuanqi.jpg" onerror="src='/images/nopic.gif'" alt="御鬼者传奇" /></a>
                                    </div>
                                    <dl>
                                        <dt><a href="/book/13662/">御鬼者传奇</a></dt>
                                        <dd><a href="/book/13662/" style="color: #555">【老沙的话;94天更新百万字目标达成！下一个目标：200天更新200万字，请大家多多支持，老沙拜谢↖(^ω^)↗】…</a></dd>
                                    </dl>
                                </div>
                                <ul>
                                
                                <li><a href="/book/189799/">驱尸赶鬼纵横美漫</a>/沙之愚者</li>                               
                                
                                <li><a href="/book/39324/">快穿：炮灰女配要反攻</a>/台之梦</li>                               
                                
                                <li><a href="/book/4244/">养鬼为祸</a>/浮梦流年</li>                               
                                
                                <li><a href="/book/36643/">劫天运</a>/浮梦流年</li>                               
                                
                                <li><a href="/book/77505/">快穿法则：腹黑男神，强势宠</a>/卿卿未央</li>                               
                                
                                <li><a href="/book/24456/">驭房有术</a>/铁锁</li>                               
                                
                                <li><a href="/book/18451/">我的道士生涯</a>/夏日香槟</li>                               
                                
                                <li><a href="/book/11590/">我是一具尸体</a>/杨云</li>                               
                                
                                <li><a href="/book/3473/">进化的四十六亿重奏</a>/相位行者</li>                               
                                
                                <li><a href="/book/264615/">快穿女配冷静点</a>/杜了了</li>                               
                                
                                <li><a href="/book/41337/">快穿之炮灰女配逆袭记</a>/很是矫情</li>                               
                                
                                <li><a href="/book/36570/">我的冰山女总裁</a>/云上蜗牛</li>                               
                                
                    </ul>
                </div>
                <div class="tp-box">
                    <h2>网游竞技</h2>
                    
                                <div class="top">
                                    <div class="image">
                                        <a href="/book/39345/"><img src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/kuaichuanzhihuashinixinanshenfangan.jpg" onerror="src='/images/nopic.gif'" alt="快穿之花式逆袭男神方案" /></a>
                                    </div>
                                    <dl>
                                        <dt><a href="/book/39345/">快穿之花式逆袭男神方案</a></dt>
                                        <dd><a href="/book/39345/" style="color: #555">这是一本男神详细攻略手册。　　　　温馨提示：收藏本书，更多人物等您解锁。</a></dd>
                                    </dl>
                                </div>
                                <ul>
                                
                                <li><a href="/book/137819/">纵横DNF</a>/江涛</li>                               
                                
                                <li><a href="/book/7/">暗黑破坏神之毁灭</a>/第七重奏01</li>                               
                                
                                <li><a href="/book/26905/">英雄联盟之决胜巅峰</a>/机器人布里茨</li>                               
                                
                                <li><a href="/book/1062/">网游之倒行逆施</a>/张扬的五月</li>                               
                                
                                <li><a href="/book/44711/">网游之奴役众神</a>/一夜狂醉</li>                               
                                
                                <li><a href="/book/11739/">穿越火线之生化枪神</a>/辣椒雪碧</li>                               
                                
                                <li><a href="/book/10479/">网游之逆天戒指</a>/上古圣贤</li>                               
                                
                                <li><a href="/book/3738/">网游之诡影盗贼</a>/尘缘暗殇</li>                               
                                
                                <li><a href="/book/63438/">领主之兵伐天下</a>/神天衣</li>                               
                                
                                <li><a href="/book/158185/">王者荣耀：捡了把剑送个大神</a>/鬼三刀</li>                               
                                
                                <li><a href="/book/17343/">网游之锦衣卫</a>/纯吸尼古丁</li>                               
                                
                                <li><a href="/book/84510/">文明之万界领主</a>/飞翔de懒猫</li>                               
                                
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="layout layout2 layout-col1 fr">
                <h2 class="layout-tit">最新入库小说</h2>
                <ul class="txt-list txt-list-row3">
                    
                            <li>
                                <span class="s1">[武侠仙侠]</span>
                                <span class="s2"><a href="/book/270136/">万蛊星君</a></span>
                                <span class="s5">朱颜子</span>
                            </li>
                            
                            <li>
                                <span class="s1">[都市言情]</span>
                                <span class="s2"><a href="/book/270135/">萧叶慕倾城</a></span>
                                <span class="s5">萧叶慕倾城</span>
                            </li>
                            
                            <li>
                                <span class="s1">[都市言情]</span>
                                <span class="s2"><a href="/book/270134/">六年后一胎三宝沈琉璃</a></span>
                                <span class="s5">苏沫沫厉司夜</span>
                            </li>
                </ul>
            </div>
            <div class="layout layout2 layout-col2 fl">
                <h2 class="layout-tit">最近更新小说列表</h2>
                <ul class="txt-list txt-list-row5">
                    
                            <li>
                                <span class="s1">[玄幻奇幻]</span>
                                <span class="s2">
                                    <a href="/book/42217/">恒天策</a>
                                </span>
                                <span class="s3"><a href="/book/42217/4043783.html">第468章 帝神令</a></span>
                                <span class="s4">尘落君临</span><span class="s5">12-10</span>
                            </li>
                            
                            <li>
                                <span class="s1">[都市言情]</span>
                                <span class="s2">
                                    <a href="/book/958/">捡宝</a>
                                </span>
                                <span class="s3"><a href="/book/958/2847986.html">全书完,谢谢大家的支持</a></span>
                                <span class="s4">三疯妖孽</span><span class="s5">12-10</span>
                            </li>
                            
                            <li>
                                <span class="s1">[玄幻奇幻]</span>
                                <span class="s2">
                                    <a href="/book/174634/">无量劫主</a>
                                </span>
                                <span class="s3"><a href="/book/174634/4458305.html">第一千一百零二章 自然之主</a></span>
                                <span class="s4">手太阴肺经</span><span class="s5">12-10</span>
                            </li>

                </ul>
            </div>
        </div>
    </div>
    <script>createApp()</script>
<div class="footer" id="footer">
    <div class="pc-footer">
        <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
    </div>
    <div class="m-footer">
        <a href="/">首页</a>
        <a href="/user/case.php" rel="nofollow">我的书架</a>
        <a href="/reader/case.php" rel="nofollow">阅读记录</a>
        <a href="https://mgzs.cdn.bcebos.com/appdown.html?w=tg12">客户端</a>
        <a href="#">顶部↑</a>
    </div>
</div>



</body>
</html>
