<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <title>书趣阁_笔趣阁</title>
  <link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
  <script th:src="@{/static/js/noname.js}"></script>
<style type="text/css">
</style>
 </head> 
 <body>

  <div th:replace="~{templet :: head}"></div>

  <div class="wrap">
    <div class="hot bd">
     <div class="ll">
      <div class="item" th:each="fiction : ${recommend}">
       <div class="p10">
        <div class="image">
         <a th:href="@{'/info/' + ${fiction.getBId()}}" target="_blank"><img th:src="@{${fiction.getCover()}}" th:alt="${fiction.getBName()}"/></a>
        </div>
        <dl>
         <dt>
          <span th:text="${fiction.getAuthor()}">作者</span>
          <a th:href="@{'/info/' + ${fiction.getBId()}}" target="_blank" th:text="${fiction.getBName()}">书名</a>
         </dt>
         <dd  th:with="len = ${fiction.getDesc().length() > 72 ? 72 : fiction.getDesc().length()}" th:text="${fiction.getDesc().substring(0,len)}"></dd>
        </dl>
       </div>
      </div>
     </div>
    </div>
   <div class="up"> 
    <div class="l bd">
     <h2>最近更新列表</h2>
     <ul th:each="fiction : ${latestFiction.subList(0,25)}">
      <li>
       <span class="s1" th:text="'['+${fiction.getCat()}+']'"></span>
       <span class="s2"><a th:href="@{'/info/'+${fiction.getBId()}}" th:text="${fiction.getBName()}"></a></span>
       <span class="s4" th:text="'['+${fiction.getState()}+']'"></span>
       <span class="s5" th:text="${fiction.getAuthor()}"></span>
     </ul>
    </div> 
    <div class="r bd"> 
     <h2>小说相关推荐</h2> 
     <ul th:each="fiction : ${latestFiction.subList(25,50)}">
      <li>
       <span class="s1" th:text="'['+${fiction.getCat()}+']'"></span>
       <span class="s2"><a th:href="@{'/info/'+${fiction.getBId()}}" th:text="${fiction.getBName()}"></a></span>
       <span class="s4" th:text="'['+${fiction.getState()}+']'"></span>
       <span class="s5" th:text="${fiction.getAuthor()}"></span>
     </ul>
    </div> 
   </div> 
  </div>

  <div th:replace="~{templet :: footer}"></div>

 </body>
</html>