
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="${fiction.BName}"></title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

</head>

<body id="reader-m-fix">

  <div class="header">
    <h1 class="logo"><a href="/">笔趣阁</a></h1>
    <form action="/ar.php" class="search-form" id="form">
        <input class="input-text input-key" id="keyWord" name="keyWord" type="text" maxlength="30"
            placeholder="可搜书名和作者，请您少字也别输错字。" />
        <input type="button" class="btn-tosearch" value="搜索" title="搜索" onclick="check()"/>
    </form>

  </div>

    <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="">玄幻奇幻</a></li>
        <li><a href="">武侠仙侠</a></li>
        <li><a href="">都市言情</a></li>
        <li><a href="">历史军事</a></li>
        <li><a href="">科幻灵异</a></li>
        <li><a href="">网游竞技</a></li>
        <li><a href="">排行榜单</a></li>
        <li><a href="">阅读记录</a></li>
    </ul>
    <ul class="m-nav">
        <li><a href="">排行</a></li>
        <li><a href="">收藏</a></li>
        <li><a href="">完本</a></li>
        <li><a href="">阅读记录</a></li>
        <li><a href="">书架</a></li>
    </ul>

    <div class="container" id="container">
        <div class="row row-detail row-reader">
            <div class="layout layout-col1" id="read">
                <div class="layout-tit xs-hidden">
                    <a href="/">笔趣阁</a> >
                    <a th:href="@{'/info/' + ${fiction.BId} }" th:title="${fiction.BName}"></a> >
                    <span th:text="${chapter.title}">章节标题</span>
                </div>
                <div class="reader-main">

                    <h1 class="title" th:text="${chapter.title}">章节标题</h1>

                    <div class="section-opt">
                        <a th:href="@{'/read/' + ${fiction.BId} + '/' + ${proChapterId}}" th:if="${proChapterId}">上一章</a>
                        <a th:href="@{'/info/' + ${fiction.BId}}">目录</a>
                        <a th:href="@{'/read/' + ${fiction.BId} + '/' + ${nextChapterId}}" th:if="${nextChapterId}">下一章</a>
                    </div>
					    <!-- <a href="/txt/127842/">TXT下载</a> -->

                    <div class="content" id="content">
                        <p th:each="content : ${contentList}" th:text="${content}"></p>
                    </div>

                    <div class="section-opt m-bottom-opt" style="margin: 0; top: 0">
                        <a th:href="@{'/read/' + ${fiction.BId} + '/' + ${proChapterId}}" th:if="${proChapterId}">上一章</a>
                        <a th:href="@{'/info/' + ${fiction.BId}}">目录</a>
                        <a th:href="@{'/read/' + ${fiction.BId} + '/' + ${nextChapterId}}" th:if="${nextChapterId}">下一章</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer" id="footer">
        <div class="pc-footer">
            <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
        </div>
        <div class="m-footer">
            <a href="/">首页</a>
            <a href="" rel="nofollow">我的书架</a>
            <a href="" rel="nofollow">阅读记录</a>
            <a href="#">顶部↑</a>
        </div>
    </div>


</body>

</html>
