<div class="rank-list-row cf mb20">
    <div class="rank-list">
        <h3 class="wrap-title lang">起点月票榜<i><a class="more" href="//www.qidian.com/rank/yuepiao" data-eid="qd_C45">更多<em class="iconfont"></em></a>
        </i></h3><i>
        <div class="book-list">

            <ul>
                <li class="unfold" data-rid="1">
                    <div class="book-wrap cf">
                        <div class="book-info fl">
                            <h3>NO.1</h3>
                            <h4>
                                <a href="//book.qidian.com/info/1021635590" target="_blank" data-eid="qd_C40" data-bid="1021635590">这个人仙太过正经</a>
                            </h4>
                            <p class="digital"><em>25388</em>月票</p>
                            <p class="author">
                                <a class="type" href="//www.qidian.com/xianxia" target="_blank" data-eid="qd_C42">仙侠</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=401199896" target="_blank" data-eid="qd_C41">言归正传</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="//book.qidian.com/info/1021635590" target="_blank" data-eid="qd_C39" data-bid="1021635590">
                                <img src="//bookcover.yuewen.com/qdbimg/349573/1021635590/90">
                            </a>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li data-rid="2">
                    <div class="num-box"><span class="num2">2</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1016604776" target="_blank" data-eid="qd_C40" data-bid="1016604776">颤栗高空</a>

                        <i class="total">20191</i>
                    </div>
                </li>

                <li data-rid="3">
                    <div class="num-box"><span class="num3">3</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1019664125" target="_blank" data-eid="qd_C40" data-bid="1019664125">大奉打更人</a>

                        <i class="total">18419</i>
                    </div>
                </li>

                <li data-rid="4">
                    <div class="num-box"><span class="num4">4</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1021226784" target="_blank" data-eid="qd_C40" data-bid="1021226784">突然成仙了怎么办</a>

                        <i class="total">9123</i>
                    </div>
                </li>

                <li data-rid="5">
                    <div class="num-box"><span class="num5">5</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1010056141" target="_blank" data-eid="qd_C40" data-bid="1010056141">东晋北府一丘八</a>

                        <i class="total">8021</i>
                    </div>
                </li>

                <li data-rid="6">
                    <div class="num-box"><span class="num6">6</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025325411" target="_blank" data-eid="qd_C40" data-bid="1025325411">稳住别浪</a>

                        <i class="total">7958</i>
                    </div>
                </li>

                <li data-rid="7">
                    <div class="num-box"><span class="num7">7</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1024868626" target="_blank" data-eid="qd_C40" data-bid="1024868626">从红月开始</a>

                        <i class="total">6587</i>
                    </div>
                </li>

                <li data-rid="8">
                    <div class="num-box"><span class="num8">8</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1024722352" target="_blank" data-eid="qd_C40" data-bid="1024722352">掌门低调点</a>

                        <i class="total">5286</i>
                    </div>
                </li>

                <li data-rid="9">
                    <div class="num-box"><span class="num9">9</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1979049" target="_blank" data-eid="qd_C40" data-bid="1979049">赘婿</a>

                        <i class="total">4860</i>
                    </div>
                </li>

                <li data-rid="10">
                    <div class="num-box"><span class="num10">10</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1021693079" target="_blank" data-eid="qd_C40" data-bid="1021693079">剑卒过河</a>

                        <i class="total">4675</i>
                    </div>
                </li>

            </ul>

        </div>
    </i></div><i>
    <div class="rank-list sort-list">
        <h3 class="wrap-title lang">24小时热销榜<a class="more" href="//www.qidian.com/rank/hotsales" data-eid="qd_C46">更多<em class="iconfont"></em></a></h3>
        <div class="book-list">

            <ul>
                <li class="unfold" data-rid="1">
                    <div class="book-wrap cf">
                        <div class="book-info fl">
                            <h3>NO.1</h3>
                            <h4>
                                <a href="//book.qidian.com/info/1019664125" target="_blank" data-eid="qd_C40" data-bid="1019664125">大奉打更人</a></h4>
                            <p class="digital f16">销量冠军</p>
                            <p class="author">
                                <a class="type" href="//www.qidian.com/xianxia" target="_blank" data-eid="qd_C42">仙侠</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=9639927" target="_blank" data-eid="qd_C41">卖报小郎君</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="//book.qidian.com/info/1019664125" target="_blank" data-eid="qd_C39" data-bid="1019664125">
                                <img src="//bookcover.yuewen.com/qdbimg/349573/1019664125/90">
                            </a>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li data-rid="2">
                    <div class="num-box"><span class="num2">2</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1979049" target="_blank" data-eid="qd_C40" data-bid="1979049">赘婿</a>


                        <span class="iconfont"></span>

                    </div>
                </li>

                <li data-rid="3">
                    <div class="num-box"><span class="num3">3</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1018027842" target="_blank" data-eid="qd_C40" data-bid="1018027842">万族之劫</a>


                        <span class="iconfont"></span>

                    </div>
                </li>

                <li data-rid="4">
                    <div class="num-box"><span class="num4">4</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1009817672" target="_blank" data-eid="qd_C40" data-bid="1009817672">轮回乐园</a>


                        <span class="iconfont up"></span>

                    </div>
                </li>

                <li data-rid="5">
                    <div class="num-box"><span class="num5">5</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025325411" target="_blank" data-eid="qd_C40" data-bid="1025325411">稳住别浪</a>


                        <span class="iconfont up"></span>

                    </div>
                </li>

                <li data-rid="6">
                    <div class="num-box"><span class="num6">6</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1024088056" target="_blank" data-eid="qd_C40" data-bid="1024088056">十方武圣</a>


                        <span class="iconfont up"></span>

                    </div>
                </li>

                <li data-rid="7">
                    <div class="num-box"><span class="num7">7</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1015648531" target="_blank" data-eid="qd_C40" data-bid="1015648531">我真没想重生啊</a>


                        <span class="iconfont"></span>

                    </div>
                </li>

                <li data-rid="8">
                    <div class="num-box"><span class="num8">8</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1024722226" target="_blank" data-eid="qd_C40" data-bid="1024722226">这个诅咒太棒了</a>


                        <span class="iconfont up"></span>

                    </div>
                </li>

                <li data-rid="9">
                    <div class="num-box"><span class="num9">9</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1010868264" target="_blank" data-eid="qd_C40" data-bid="1010868264">诡秘之主</a>


                        <span class="iconfont up"></span>

                    </div>
                </li>

                <li data-rid="10">
                    <div class="num-box"><span class="num10">10</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1021671831" target="_blank" data-eid="qd_C40" data-bid="1021671831">我加载了恋爱游戏</a>


                        <span class="iconfont up"></span>

                    </div>
                </li>

            </ul>

        </div>
    </div>
    <div class="rank-list sort-list">
        <div class="tab-title">
            <h3 class="wrap-title lang">阅读指数榜<a class="more" href="//www.qidian.com/rank/readIndex" data-eid="qd_C47">更多<em class="iconfont"></em></a></h3>
        </div>
        <div class="tab-list">
            <div class="book-list">

                <ul>
                    <li class="unfold" data-rid="1">
                        <div class="book-wrap cf">
                            <div class="book-info fl">
                                <h3>NO.1</h3>
                                <h4>
                                    <a href="//book.qidian.com/info/1019664125" target="_blank" data-eid="qd_C40" data-bid="1019664125">大奉打更人</a></h4>
                                <p class="digital f16">本周最强</p>
                                <p class="author">
                                    <a class="type" href="//www.qidian.com/xianxia" target="_blank" data-eid="qd_C42">仙侠</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=9639927" target="_blank" data-eid="qd_C41">卖报小郎君</a>
                                </p>
                            </div>
                            <div class="book-cover">
                                <a class="link" href="//book.qidian.com/info/1019664125" target="_blank" data-eid="qd_C39" data-bid="1019664125">
                                    <img src="//bookcover.yuewen.com/qdbimg/349573/1019664125/90">
                                </a>
                                <span></span>
                            </div>
                        </div>
                    </li>

                    <li data-rid="2">
                        <div class="num-box"><span class="num2">2</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1979049" target="_blank" data-eid="qd_C40" data-bid="1979049">赘婿</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="3">
                        <div class="num-box"><span class="num3">3</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1018027842" target="_blank" data-eid="qd_C40" data-bid="1018027842">万族之劫</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="4">
                        <div class="num-box"><span class="num4">4</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1025325411" target="_blank" data-eid="qd_C40" data-bid="1025325411">稳住别浪</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="5">
                        <div class="num-box"><span class="num5">5</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1009817672" target="_blank" data-eid="qd_C40" data-bid="1009817672">轮回乐园</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="6">
                        <div class="num-box"><span class="num6">6</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1021693079" target="_blank" data-eid="qd_C40" data-bid="1021693079">剑卒过河</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="7">
                        <div class="num-box"><span class="num7">7</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1017281778" target="_blank" data-eid="qd_C40" data-bid="1017281778">绍宋</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="8">
                        <div class="num-box"><span class="num8">8</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1015648531" target="_blank" data-eid="qd_C40" data-bid="1015648531">我真没想重生啊</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="9">
                        <div class="num-box"><span class="num9">9</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1021671831" target="_blank" data-eid="qd_C40" data-bid="1021671831">我加载了恋爱游戏</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                    <li data-rid="10">
                        <div class="num-box"><span class="num10">10</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1024868626" target="_blank" data-eid="qd_C40" data-bid="1024868626">从红月开始</a>


                            <span class="iconfont"></span>

                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="rank-list mr0">
        <div class="tab-title">
            <div class="tab-wrap"><a class="act" href="javascript:" data-eid="qd_C52">周</a><em>·</em><a href="javascript:" data-eid="qd_C53">月</a><em>·</em><a href="javascript:" data-eid="qd_C54">总</a></div>
            <h3 class="wrap-title lang">推荐票榜<a class="more" href="//www.qidian.com/rank/recom" data-eid="qd_C51">更多<em class="iconfont"></em></a></h3>
        </div>
        <div class="tab-list">
            <div class="book-list">

                <ul>
                    <li class="unfold" data-rid="1">
                        <div class="book-wrap cf">
                            <div class="book-info fl">
                                <h3>NO.1</h3>
                                <h4>
                                    <a href="//book.qidian.com/info/1016534035" target="_blank" data-eid="qd_C40" data-bid="1016534035">大梦主</a></h4>
                                <p class="digital"><em>101475</em>推荐票</p>
                                <p class="author">
                                    <a class="type" href="//www.qidian.com/xianxia" target="_blank" data-eid="qd_C42">仙侠</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=4362771" target="_blank" data-eid="qd_C41">忘语</a>
                                </p>
                            </div>
                            <div class="book-cover">
                                <a class="link" href="//book.qidian.com/info/1016534035" target="_blank" data-eid="qd_C39" data-bid="1016534035">
                                    <img src="//bookcover.yuewen.com/qdbimg/349573/1016534035/90">
                                </a>
                                <span></span>
                            </div>
                        </div>
                    </li>

                    <li data-rid="2">
                        <div class="num-box"><span class="num2">2</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1020688719" target="_blank" data-eid="qd_C40" data-bid="1020688719">神魔书</a>

                            <i class="total">86932</i>
                        </div>
                    </li>

                    <li data-rid="3">
                        <div class="num-box"><span class="num3">3</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1021583528" target="_blank" data-eid="qd_C40" data-bid="1021583528">我在大唐有后台</a>

                            <i class="total">65133</i>
                        </div>
                    </li>

                    <li data-rid="4">
                        <div class="num-box"><span class="num4">4</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1021635590" target="_blank" data-eid="qd_C40" data-bid="1021635590">这个人仙太过正经</a>

                            <i class="total">62186</i>
                        </div>
                    </li>

                    <li data-rid="5">
                        <div class="num-box"><span class="num5">5</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1022961302" target="_blank" data-eid="qd_C40" data-bid="1022961302">传奇浪潮十八年</a>

                            <i class="total">58914</i>
                        </div>
                    </li>

                    <li data-rid="6">
                        <div class="num-box"><span class="num6">6</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1017258335" target="_blank" data-eid="qd_C40" data-bid="1017258335">御九天</a>

                            <i class="total">55482</i>
                        </div>
                    </li>

                    <li data-rid="7">
                        <div class="num-box"><span class="num7">7</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1025338155" target="_blank" data-eid="qd_C40" data-bid="1025338155">星武耀</a>

                            <i class="total">53704</i>
                        </div>
                    </li>

                    <li data-rid="8">
                        <div class="num-box"><span class="num8">8</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1020152668" target="_blank" data-eid="qd_C40" data-bid="1020152668">樱启</a>

                            <i class="total">52727</i>
                        </div>
                    </li>

                    <li data-rid="9">
                        <div class="num-box"><span class="num9">9</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1024856842" target="_blank" data-eid="qd_C40" data-bid="1024856842">原来你是这样的天选之子</a>

                            <i class="total">50051</i>
                        </div>
                    </li>

                    <li data-rid="10">
                        <div class="num-box"><span class="num10">10</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1026155504" target="_blank" data-eid="qd_C40" data-bid="1026155504">狩猎邪神计划书</a>

                            <i class="total">48936</i>
                        </div>
                    </li>

                </ul>

            </div>
            <div class="book-list hidden">

                <ul>
                    <li class="unfold" data-rid="1">
                        <div class="book-wrap cf">
                            <div class="book-info fl">
                                <h3>NO.1</h3>
                                <h4>
                                    <a href="//book.qidian.com/info/1016534035" target="_blank" data-eid="qd_C40" data-bid="1016534035">大梦主</a></h4>
                                <p class="digital"><em>101475</em>推荐票</p>
                                <p class="author">
                                    <a class="type" href="//www.qidian.com/xianxia" target="_blank" data-eid="qd_C42">仙侠</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=4362771" target="_blank" data-eid="qd_C41">忘语</a>
                                </p>
                            </div>
                            <div class="book-cover">
                                <a class="link" href="//book.qidian.com/info/1016534035" target="_blank" data-eid="qd_C39" data-bid="1016534035">
                                    <img src="//bookcover.yuewen.com/qdbimg/349573/1016534035/90">
                                </a>
                                <span></span>
                            </div>
                        </div>
                    </li>

                    <li data-rid="2">
                        <div class="num-box"><span class="num2">2</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1020688719" target="_blank" data-eid="qd_C40" data-bid="1020688719">神魔书</a>

                            <i class="total">86922</i>
                        </div>
                    </li>

                    <li data-rid="3">
                        <div class="num-box"><span class="num3">3</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1021583528" target="_blank" data-eid="qd_C40" data-bid="1021583528">我在大唐有后台</a>

                            <i class="total">65133</i>
                        </div>
                    </li>

                    <li data-rid="4">
                        <div class="num-box"><span class="num4">4</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1021635590" target="_blank" data-eid="qd_C40" data-bid="1021635590">这个人仙太过正经</a>

                            <i class="total">62185</i>
                        </div>
                    </li>

                    <li data-rid="5">
                        <div class="num-box"><span class="num5">5</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1022961302" target="_blank" data-eid="qd_C40" data-bid="1022961302">传奇浪潮十八年</a>

                            <i class="total">58911</i>
                        </div>
                    </li>

                    <li data-rid="6">
                        <div class="num-box"><span class="num6">6</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1017258335" target="_blank" data-eid="qd_C40" data-bid="1017258335">御九天</a>

                            <i class="total">55481</i>
                        </div>
                    </li>

                    <li data-rid="7">
                        <div class="num-box"><span class="num7">7</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1025338155" target="_blank" data-eid="qd_C40" data-bid="1025338155">星武耀</a>

                            <i class="total">53704</i>
                        </div>
                    </li>

                    <li data-rid="8">
                        <div class="num-box"><span class="num8">8</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1020152668" target="_blank" data-eid="qd_C40" data-bid="1020152668">樱启</a>

                            <i class="total">52726</i>
                        </div>
                    </li>

                    <li data-rid="9">
                        <div class="num-box"><span class="num9">9</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1024856842" target="_blank" data-eid="qd_C40" data-bid="1024856842">原来你是这样的天选之子</a>

                            <i class="total">50050</i>
                        </div>
                    </li>

                    <li data-rid="10">
                        <div class="num-box"><span class="num10">10</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1026155504" target="_blank" data-eid="qd_C40" data-bid="1026155504">狩猎邪神计划书</a>

                            <i class="total">48936</i>
                        </div>
                    </li>

                </ul>

            </div>
            <div class="book-list hidden">

                <ul>
                    <li class="unfold" data-rid="1">
                        <div class="book-wrap cf">
                            <div class="book-info fl">
                                <h3>NO.1</h3>
                                <h4>
                                    <a href="//book.qidian.com/info/1010399782" target="_blank" data-eid="qd_C40" data-bid="1010399782">太初</a></h4>
                                <p class="digital"><em>46780404</em>推荐票</p>
                                <p class="author">
                                    <a class="type" href="//www.qidian.com/xuanhuan" target="_blank" data-eid="qd_C42">玄幻</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=32610" target="_blank" data-eid="qd_C41">高楼大厦</a>
                                </p>
                            </div>
                            <div class="book-cover">
                                <a class="link" href="//book.qidian.com/info/1010399782" target="_blank" data-eid="qd_C39" data-bid="1010399782">
                                    <img src="//bookcover.yuewen.com/qdbimg/349573/1010399782/90">
                                </a>
                                <span></span>
                            </div>
                        </div>
                    </li>

                    <li data-rid="2">
                        <div class="num-box"><span class="num2">2</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1011831862" target="_blank" data-eid="qd_C40" data-bid="1011831862">王者时刻</a>

                            <i class="total">39878408</i>
                        </div>
                    </li>

                    <li data-rid="3">
                        <div class="num-box"><span class="num3">3</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1009265821" target="_blank" data-eid="qd_C40" data-bid="1009265821">无疆</a>

                            <i class="total">32595896</i>
                        </div>
                    </li>

                    <li data-rid="4">
                        <div class="num-box"><span class="num4">4</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1010868264" target="_blank" data-eid="qd_C40" data-bid="1010868264">诡秘之主</a>

                            <i class="total">31915984</i>
                        </div>
                    </li>

                    <li data-rid="5">
                        <div class="num-box"><span class="num5">5</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1004608738" target="_blank" data-eid="qd_C40" data-bid="1004608738">圣墟</a>

                            <i class="total">31485019</i>
                        </div>
                    </li>

                    <li data-rid="6">
                        <div class="num-box"><span class="num6">6</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1003694333" target="_blank" data-eid="qd_C40" data-bid="1003694333">斗战狂潮</a>

                            <i class="total">30338030</i>
                        </div>
                    </li>

                    <li data-rid="7">
                        <div class="num-box"><span class="num7">7</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1010734492" target="_blank" data-eid="qd_C40" data-bid="1010734492">凡人修仙之仙界篇</a>

                            <i class="total">29671430</i>
                        </div>
                    </li>

                    <li data-rid="8">
                        <div class="num-box"><span class="num8">8</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1010327039" target="_blank" data-eid="qd_C40" data-bid="1010327039">三寸人间</a>

                            <i class="total">27233856</i>
                        </div>
                    </li>

                    <li data-rid="9">
                        <div class="num-box"><span class="num9">9</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1010981643" target="_blank" data-eid="qd_C40" data-bid="1010981643">开天录</a>

                            <i class="total">22989204</i>
                        </div>
                    </li>

                    <li data-rid="10">
                        <div class="num-box"><span class="num10">10</span></div>
                        <div class="name-box">

                            <a class="name" href="//book.qidian.com/info/1012912018" target="_blank" data-eid="qd_C40" data-bid="1012912018">英雄联盟：我的时代</a>

                            <i class="total">22724255</i>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="rank-list ">
        <h3 class="wrap-title lang">收藏榜<a class="more" href="//www.qidian.com/rank/collect" data-eid="qd_C55">更多<em class="iconfont"></em></a></h3>
        <div class="book-list">

            <ul>
                <li class="unfold" data-rid="1">
                    <div class="book-wrap cf">
                        <div class="book-info fl">
                            <h3>NO.1</h3>
                            <h4>
                                <a href="//book.qidian.com/info/1004608738" target="_blank" data-eid="qd_C40" data-bid="1004608738">圣墟</a></h4>
                            <p class="digital"><em>6058182</em>收藏数</p>
                            <p class="author">
                                <a class="type" href="//www.qidian.com/xuanhuan" target="_blank" data-eid="qd_C42">玄幻</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=4362453" target="_blank" data-eid="qd_C41">辰东</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="//book.qidian.com/info/1004608738" target="_blank" data-eid="qd_C39" data-bid="1004608738">
                                <img src="//bookcover.yuewen.com/qdbimg/349573/1004608738/90">
                            </a>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li data-rid="2">
                    <div class="num-box"><span class="num2">2</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1003354631" target="_blank" data-eid="qd_C40" data-bid="1003354631">一念永恒</a>

                        <i class="total">4299656</i>
                    </div>
                </li>

                <li data-rid="3">
                    <div class="num-box"><span class="num3">3</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1010868264" target="_blank" data-eid="qd_C40" data-bid="1010868264">诡秘之主</a>

                        <i class="total">4089373</i>
                    </div>
                </li>

                <li data-rid="4">
                    <div class="num-box"><span class="num4">4</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/3602691" target="_blank" data-eid="qd_C40" data-bid="3602691">修真聊天群</a>

                        <i class="total">3989279</i>
                    </div>
                </li>

                <li data-rid="5">
                    <div class="num-box"><span class="num5">5</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1009704712" target="_blank" data-eid="qd_C40" data-bid="1009704712">牧神记</a>

                        <i class="total">2775392</i>
                    </div>
                </li>

                <li data-rid="6">
                    <div class="num-box"><span class="num6">6</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1016572786" target="_blank" data-eid="qd_C40" data-bid="1016572786">我师兄实在太稳健了</a>

                        <i class="total">2738854</i>
                    </div>
                </li>

                <li data-rid="7">
                    <div class="num-box"><span class="num7">7</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/3676417" target="_blank" data-eid="qd_C40" data-bid="3676417">玄界之门</a>

                        <i class="total">2161091</i>
                    </div>
                </li>

                <li data-rid="8">
                    <div class="num-box"><span class="num8">8</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/3681560" target="_blank" data-eid="qd_C40" data-bid="3681560">斗罗大陆III龙王传说</a>

                        <i class="total">2085646</i>
                    </div>
                </li>

                <li data-rid="9">
                    <div class="num-box"><span class="num9">9</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1209977" target="_blank" data-eid="qd_C40" data-bid="1209977">斗破苍穹</a>

                        <i class="total">2063636</i>
                    </div>
                </li>

                <li data-rid="10">
                    <div class="num-box"><span class="num10">10</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1013562540" target="_blank" data-eid="qd_C40" data-bid="1013562540">第一序列</a>

                        <i class="total">1880722</i>
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <!--
    <div class="rank-list" >
        <div class="tab-title">
            <div class="tab-wrap"><a class="act" href="javascript:" data-eid="qd_C57">周</a><em>&#183;</em><a href="javascript:" data-eid="qd_C58">月</a><em>&#183;</em><a href="javascript:" data-eid="qd_C59">总</a></div>
            <h3 class="wrap-title lang">完本榜<a class="more" href="//www.qidian.com/rank/fin" data-eid="qd_C56">更多<em class="iconfont">&#xe621;</em></a></h3>
        </div>

    </div>
    -->
    <div class="rank-list sort-list">
        <h3 class="wrap-title lang">签约作者新书榜<a class="more" href="//www.qidian.com/rank/signnewbook" data-eid="qd_C60">更多<em class="iconfont"></em></a></h3>
        <div class="book-list">

            <ul>
                <li class="unfold" data-rid="1">
                    <div class="book-wrap cf">
                        <div class="book-info fl">
                            <h3>NO.1</h3>
                            <h4>
                                <a href="//book.qidian.com/info/1026198031" target="_blank" data-eid="qd_C40" data-bid="1026198031">黑夜与巨龙途径</a></h4>
                            <p class="digital f16">本周最强<!--<em></em>潜力值--></p>
                            <p class="author">
                                <a class="type" href="//www.qidian.com/xuanhuan" target="_blank" data-eid="qd_C42">玄幻</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=11411893" target="_blank" data-eid="qd_C41">身怀绝技</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="//book.qidian.com/info/1026198031" target="_blank" data-eid="qd_C39" data-bid="1026198031">
                                <img src="//bookcover.yuewen.com/qdbimg/349573/1026198031/90">
                            </a>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li data-rid="2">
                    <div class="num-box"><span class="num2">2</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025677149" target="_blank" data-eid="qd_C40" data-bid="1025677149">弃宇宙</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="3">
                    <div class="num-box"><span class="num3">3</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1020180183" target="_blank" data-eid="qd_C40" data-bid="1020180183">半仙</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="4">
                    <div class="num-box"><span class="num4">4</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026398118" target="_blank" data-eid="qd_C40" data-bid="1026398118">星谍世家</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="5">
                    <div class="num-box"><span class="num5">5</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025321315" target="_blank" data-eid="qd_C40" data-bid="1025321315">休闲玩家能有什么坏心眼</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="6">
                    <div class="num-box"><span class="num6">6</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026325746" target="_blank" data-eid="qd_C40" data-bid="1026325746">我开启了妖魔乱世</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="7">
                    <div class="num-box"><span class="num7">7</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026098736" target="_blank" data-eid="qd_C40" data-bid="1026098736">全球大逃亡：灾难始终慢我一步</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="8">
                    <div class="num-box"><span class="num8">8</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026085339" target="_blank" data-eid="qd_C40" data-bid="1026085339">我儿快拼爹</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="9">
                    <div class="num-box"><span class="num9">9</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026403873" target="_blank" data-eid="qd_C40" data-bid="1026403873">霍格沃兹之我的老婆叫卢娜</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="10">
                    <div class="num-box"><span class="num10">10</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025524990" target="_blank" data-eid="qd_C40" data-bid="1025524990">大唐捉妖司</a>

                        <span class="iconfont"></span>


                        <!-- <i class="total"></i>-->
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <div class="rank-list sort-list">
        <h3 class="wrap-title lang">公众作家新书榜<a class="more" href="//www.qidian.com/rank/pubnewbook" data-eid="qd_C61">更多<em class="iconfont"></em></a></h3>
        <div class="book-list">

            <ul>
                <li class="unfold" data-rid="1">
                    <div class="book-wrap cf">
                        <div class="book-info fl">
                            <h3>NO.1</h3>
                            <h4>
                                <a href="//book.qidian.com/info/1026253475" target="_blank" data-eid="qd_C40" data-bid="1026253475">带着忍术做东京魔神</a></h4>
                            <p class="digital f16">本周最强<!--<em></em>潜力值--></p>
                            <p class="author">
                                <a class="type" href="//www.qidian.com/2cy" target="_blank" data-eid="qd_C42">轻小说</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=400919742" target="_blank" data-eid="qd_C41">太团结</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="//book.qidian.com/info/1026253475" target="_blank" data-eid="qd_C39" data-bid="1026253475">
                                <img src="//bookcover.yuewen.com/qdbimg/349573/1026253475/90">
                            </a>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li data-rid="2">
                    <div class="num-box"><span class="num2">2</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026111536" target="_blank" data-eid="qd_C40" data-bid="1026111536">漫威之我是尼尔史塔克</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="3">
                    <div class="num-box"><span class="num3">3</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026628173" target="_blank" data-eid="qd_C40" data-bid="1026628173">屠戮天途</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="4">
                    <div class="num-box"><span class="num4">4</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026161846" target="_blank" data-eid="qd_C40" data-bid="1026161846">法师奇幻之旅</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="5">
                    <div class="num-box"><span class="num5">5</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026235700" target="_blank" data-eid="qd_C40" data-bid="1026235700">斗破之绝代双骄</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="6">
                    <div class="num-box"><span class="num6">6</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026080743" target="_blank" data-eid="qd_C40" data-bid="1026080743">在斗罗的人形自走军火库</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="7">
                    <div class="num-box"><span class="num7">7</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026314217" target="_blank" data-eid="qd_C40" data-bid="1026314217">鬼谷八荒之开局就是三剑痴</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="8">
                    <div class="num-box"><span class="num8">8</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026387028" target="_blank" data-eid="qd_C40" data-bid="1026387028">大秦开局混了个太子</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="9">
                    <div class="num-box"><span class="num9">9</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026380165" target="_blank" data-eid="qd_C40" data-bid="1026380165">全职法师之挂机升级</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

                <li data-rid="10">
                    <div class="num-box"><span class="num10">10</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1026480006" target="_blank" data-eid="qd_C40" data-bid="1026480006">从学园都市开始旅程</a>

                        <span class="iconfont"></span>


                        <!--<i class="total"></i>-->
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <div class="rank-list mr0">
        <h3 class="wrap-title lang">原创风云榜<i>·</i>新书<a class="more" href="//www.qidian.com/rank/fengyun" data-eid="qd_C45">更多<em class="iconfont"></em></a>
        </h3>
        <div class="book-list">

            <ul>
                <li class="unfold" data-rid="1">
                    <div class="book-wrap cf">
                        <div class="book-info fl">
                            <h3>NO.1</h3>
                            <h4>
                                <a href="//book.qidian.com/info/1025461668" target="_blank" data-eid="qd_C40" data-bid="1025461668">每天都离现形更近一步</a>
                            </h4>
                            <p class="digital"><em>3916</em>月票</p>
                            <p class="author">
                                <a class="type" href="//www.qidian.com/kehuan" target="_blank" data-eid="qd_C42">科幻</a><i>·</i><a class="writer" href="//me.qidian.com/authorIndex.aspx?id=2858549" target="_blank" data-eid="qd_C41">陈词懒调</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="//book.qidian.com/info/1025461668" target="_blank" data-eid="qd_C39" data-bid="1025461668">
                                <img src="//bookcover.yuewen.com/qdbimg/349573/1025461668/90">
                            </a>
                            <span></span>
                        </div>
                    </div>
                </li>

                <li data-rid="2">
                    <div class="num-box"><span class="num2">2</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025377681" target="_blank" data-eid="qd_C40" data-bid="1025377681">我在斩妖司除魔三十年</a>

                        <i class="total">2145</i>
                    </div>
                </li>

                <li data-rid="3">
                    <div class="num-box"><span class="num3">3</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025553433" target="_blank" data-eid="qd_C40" data-bid="1025553433">我的云养女友</a>

                        <i class="total">1188</i>
                    </div>
                </li>

                <li data-rid="4">
                    <div class="num-box"><span class="num4">4</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025649259" target="_blank" data-eid="qd_C40" data-bid="1025649259">主神挂了</a>

                        <i class="total">934</i>
                    </div>
                </li>

                <li data-rid="5">
                    <div class="num-box"><span class="num5">5</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025493892" target="_blank" data-eid="qd_C40" data-bid="1025493892">人在东京抽卡降魔</a>

                        <i class="total">838</i>
                    </div>
                </li>

                <li data-rid="6">
                    <div class="num-box"><span class="num6">6</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1024640042" target="_blank" data-eid="qd_C40" data-bid="1024640042">黄金召唤师</a>

                        <i class="total">827</i>
                    </div>
                </li>

                <li data-rid="7">
                    <div class="num-box"><span class="num7">7</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025136037" target="_blank" data-eid="qd_C40" data-bid="1025136037">拿错游戏剧本后我超神了</a>

                        <i class="total">662</i>
                    </div>
                </li>

                <li data-rid="8">
                    <div class="num-box"><span class="num8">8</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025573881" target="_blank" data-eid="qd_C40" data-bid="1025573881">神话三国领主</a>

                        <i class="total">464</i>
                    </div>
                </li>

                <li data-rid="9">
                    <div class="num-box"><span class="num9">9</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025623476" target="_blank" data-eid="qd_C40" data-bid="1025623476">主神竟是我自己</a>

                        <i class="total">422</i>
                    </div>
                </li>

                <li data-rid="10">
                    <div class="num-box"><span class="num10">10</span></div>
                    <div class="name-box">

                        <a class="name" href="//book.qidian.com/info/1025548403" target="_blank" data-eid="qd_C40" data-bid="1025548403">从零开始的富豪人生</a>

                        <i class="total">412</i>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</i></div>