<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cither.dao.ChapterMapper">


    <insert id="saveChapter" parameterType="com.cither.pojo.Chapter" useGeneratedKeys="true" keyProperty="cId"  keyColumn="c_id">
        insert into chapter(b_id, title, chapter, update_time, chapter_which, chapter_link)
        value (#{bId}, #{title}, #{chapter}, #{updateTime}, #{chapterWhich}, #{chapterLink})
    </insert>

</mapper>